<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Video</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <link rel="stylesheet" href="../static/css/camera.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>
    <div id="scanner-container"></div>
    <input type="button" id="btn" value="Start/Stop the scanner" />
    
    <script src="../static/js/camera.js"></script>
    <script type="text/javascript" src="https://serratus.github.io/quaggaJS/examples/js/quagga.min.js"></script>
</body>

</html>